.wrap{
	background: blue;
	width: 100%;
	margin: 1px auto;
}

/*bagian header*/
.wrap .header{
	background: green;
	background-image: url("IOT3.jpg");
	background-size: 100% 100%;
        height: 350px;
	background-repeat: no-repeat;
	/*height: 50px;*/
	padding: 2px 1px;
}

/*akhir header*/

/*bagian menu*/
.wrap .menu{
	background-color:#f1f1f1;
}

.wrap .menu ul{
	padding: 0;
	margin: 0;
	background-color:#f1f1f1;
	overflow: hidden;
}

.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 5px;
}
.wrap .menu ul li a, .btndown{
	display:inline-block;
  	text-decoration:none;
 	color:#000;
	padding:14px 16px;
	text-align:center;
}
ul.menu li a:hover, .dropdown:hover .btndown{
  background-color:#555;
  color:#fff;
}
ul.menu li.active a{
  background:#4169e1;
  color:#fff;
}
ul.menu li.right{
  float:right;
}
ul.menu li.dropdown{
  display:inline-block;
}
.itemdown{
  display:none;
  position:absolute;
  bacground-color:#f9f9f9;
  margin:0;
  padding:0;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  list-style-type:none;
}
.itemdown li{
  clear:both;
  float:none;
}
.itemdown li a{
  color:black;
  padding:12px 86px;
  display:inline-block;
  min-width: 100px;
  text-decoration:none;
}
.itemdown li a:hover{
  background-color:#f1f1f1;
}
.dropdown:hover .itemdown{
  display:block;
}
/*akhir menu*/

.clear{
	clear: both;
}

.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: orange;
	float: left;
	width: 25%;
	height: 100%;
}

/*akhir sidebar*/

.wrap .badan .content{
	background-image:url(bg.jpg);
	float: left;
	height: 100%;
	width: 75%;
}

.wrap .footer{
	width: 100%;
	padding: 10px;
}
